@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Montserrat:wght@400;700&display=swap");

:root {
  /* Fonts */
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Colors */
  --color-white: #ffffff;
  --color-light-gray: #f9f9f9;
  --color-light-gray-1: #f0f0f0;
  --color-light-gray-2: #dddddd;
  --color-gray: #777777;
  --color-dark-gray: #333333;
  --color-black: #000000;
  --color-primary-dark-blue: #353a5d;
  --color-primary-red: #bf1e2e;
  --color-accent-yellow: #ff9b19;

  /* Font Sizes */
  --font-size-h1: 30px;
  --font-size-h2: 30px;
  --font-size-h3: 20px;
  --font-size-body: 16px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Borders */
  --border-radius: 8px;

  /* Shadows */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-secondary);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-md);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  text-align: center;
}

h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h1);
  color: var(--color-primary-red);
}

h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h2);
  color: var(--color-primary-dark-blue);
}

h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h3);
  color: var(--color-primary-dark-blue);
}

h3.alt {
  color: var(--color-primary-red);
}

label {
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
  font-weight: bold;
  color: var(--color-primary-dark-blue);
}

p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  color: var(--color-gray);
}
